section{
    padding-top: 17.8vh;
}
.main-section{
    display: flex;
    align-items: center;
    margin: 0px 20px 15px 20px;
}
.main-right-section{
    margin-left: 10px;
    font-size: 0.95rem;
    color: rgba(255, 255, 255, 0.792);
}