.whatshappening-div{
    margin-bottom: 11px;
    margin-left: 17px;
    margin-right: 17px;
}
.whatshappening-upper-frame{
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.my-accountpic-grid{
    height: 40px;
    border-radius: 20px;
}
.video-grid-searchbar{
    color: rgba(255, 255, 255, 0.57);
    background-color: black;
    height: 40px;
    margin-left: 7px;
    font-size: 20px;
    width: 100%;
    border: none;
}
.whatshappening-lower-frame{
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
}
.lower-left-section{
    width: 17.7vw;
    margin: 2px 0px 0px 50px;
    display: flex;
    justify-content: space-between;
}
.grid-icons{
    width: 21px;
}
.lower-right-section{
    width:10vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.post-grid-button{
     margin-top: 4px;
     width: 65px;
     height: 35px;
     border-radius: 17.5px;
     border: none;
     background-color: rgba(255, 255, 255, 0.53);
     color: rgba(0, 0, 0, 0.874);
     font-weight: bold;
     font-size: 15px;
}





.video-grid{
    display: grid;
    grid-template-columns: 1fr;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(255, 255, 255, 0.185);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.185);
}
.upper-frame{
    display: flex;
    padding-top: 10px;
    margin: 0px 17px 0px 17px;
}
.channel-side{
    display: flex;
    justify-content: flex-start;
}
.accountpic-grid{
    height: 40px;
    border-radius: 20px;
}
.user-side{
    margin-left: 6px;
}
.upper-user-side{
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.lower-user-side{
    color: white;
    margin-top: 5px;
}
.user-information-ingrid{
    display: flex;
}
.account-name{
    font-size: 14px;
    color: white;
    font-weight: bold;
}
.account-username,
.post-date{
    font-size: 14px;
    margin-left: 5px;
    color: rgba(255, 255, 255, 0.495);
}
.grok-pic-ingrid,
.three-dots-pic-ingrid{
    height: 18px;
    margin-right: 2px;
}

.lower-media-div{
    display: flex;
    justify-content: flex-end;
    margin: 0px 17px 0px 63px;
}
.image-media{
    width: 100%;
    border-radius: 15px;
}
.image-2-medias{
    width: 50%;
    border-radius: 15px;
}
.lower-icons-ingrid{
    display: flex;
    justify-content: space-between;
    margin: 12px 17px 12px 63px;
}
.icons-together-div{
    display: flex;
    align-items: center;
}
.icon-shape{
    width: 18px;
    margin-left:5px ;
}
.icon-counter{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.399);
    margin-left: 5px;
}

@media (min-width:1px) and (max-width: 320px) {
    .lower-left-section{
        width: 65vw;
        margin: 2px 0px 0px 0px;
    }
    .lower-right-section{
        width: 19vw;
    }
}
@media (min-width:321px) and (max-width: 499px) {
    .lower-left-section{
        width: 58vw;
        margin: 2px 0px 0px 50px;
    }
    .lower-right-section{
        width: 19vw;
    }
}